<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="../../js/vue.js"></script>
    <script src="index.js"></script>
    <link rel="stylesheet" href="index.css">
</head>

<body>
    <div id="app">
        <div v-if="list.length">
            <table>
                <thead>
                    <tr>
                        <td> </td>
                        <td>书籍名称</td>
                        <td>日期</td>
                        <td>价格</td>
                        <td>购买数量</td>
                        <td>操作</td>
                    </tr>
                </thead>
                <tbody v-for="(item, index) in list">
                    <td>{{index+1}}</td>
                    <td>{{item.name}}</td>
                    <td>{{item.date}}</td>
                    <td>{{item.price | showPrice(item.price)}}</td>
                    <td>
                        <button @click="decrement(index)" :disabled="item.count <= 1">-</button> {{item.count}}
                        <button @click="increment(index)">+</button>
                    </td>
                    <td>
                        <button @click="handleRemove(index)">移除</button>
                    </td>
                </tbody>
            </table>
            <h3>总价格:{{totalPrice}}</h3>
        </div>
        <h2 v-else>购物车为空</h2>
    </div>
</body>


</html>